@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500&display=swap');


html{
    background-color: hsl(30, 38%, 92%);
    max-width: 1440px;
    padding:100px;
    max-height:1440px; 
}


body{
    padding: 3px;
    background-color: hsl(0, 0%, 100%);
    max-width: 700px;
    max-height:720px;
    overflow: hidden;
    border-radius:20px;
    margin:auto; 
}

img{
    max-width:750px;
    max-height:420px;
    align:left;
    float:left;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius:20px;

}

.reduction{
    text-decoration: line-through;
    padding-left: 10px;
    color:hsl(228, 12%, 48%);
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}

h3{ 
    color:hsl(158, 36%, 37%);
    font-weight: bolder;
    font-size: 30px;
    font-family:'Fraunces', serif; 
}

h2{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-variant: uppercase;
    color: hsl(228, 12%, 48%);
    align:right;

}

h1{
    font-family:'Fraunces', serif;
    font-weight: boldest;
    color: hsl(212, 21%, 14%);
    align:right;
}

p{
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
    align:right;
}
button{
    display:flex;
    align-items: right;
    justify-content: center;
    font-weight: bold;
    border: none;
    width:25%;
    border-radius: 5px;
    padding:1em;
    color:white;
    background-color: hsl(158, 36%, 37%);
}
button:active, button:hover {
cursor:pointer;
}

footer{
    text-align: right;
    padding-right: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    color:hsl(228, 12%, 48%);
}
a:link{
    color:hsl(158, 36%, 37%) ;
}
a:visited{
color:hsl(300, 100%, 30%);
}
.attribution{
    text-align: center;
    padding-top:1em;
    position:fixed;
    bottom:100px;
}
